<footer class="container">
    <div class="footer-icons">
        <img src="icons/Footer Icons.png" alt="">
    </div>
    <p>
        Ⓒ Copyright Christina Armand <span id="year"></span>
    </p>
</footer>
</body>

</html>