<%- include("partials/header"); -%>

    <div class="hero">
        <div class="about-intro">
            <h4>About</h4>
            <h5>Lorem ipsum dolor sit amet, <span>consectetur</span> adipiscing elit, sed do eiusmod <span>tempor</span>
                incididunt ut labore et <span>dolore</span> magna aliqua. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor
                sit</h5>
        </div>
        <div class="headshot">
            <div class="headshot-img">
                <img src="images/headshots/Christina NO BG.png" alt="">
            </div>
            <button class="btn-tertiary">Submit</button>
        </div>
    </div>
    <div class="background-trans">
        <div class="container">
            <div class="featured">
                <div class="section-header">
                    <h2>Skills</h2>
                    <hr>
                </div>
                <div class="projects-container">
                    <div class="featured-proj skills-container">
                        <p style="width:45%" class="skills sk-1">UX Research</p>
                        <p style="width:60%" class="skills sk-1">Web Development</p>
                        <p style="width:67%" class="skills sk-1">UX Design</p>
                        <p style="width:90%" class="skills sk-1">Project Management</p>
                        <p style="width:80%" class="skills sk-1">Marketing</p>
                        <p style="width:75%" class="skills sk-2">Analytical Thinking</p>
                        <p style="width:77%" class="skills sk-2">Emotional Intelligence</p>
                        <p style="width:82%" class="skills sk-2">Time Management</p>
                        <p style="width:88%" class="skills sk-2">Leadership and Social Influence</p>
                        <p style="width:83%" class="skills sk-2">Self Management</p>
                        <hr>
                        <div class="skill-level">
                            <span>
                                Beginner
                            </span>
                            <span>
                                Intermediate
                            </span>
                            <span>
                                Advanced
                            </span>
                        </div>
                    </div>
                </div>


            </div>



        </div>
    </div>

    <div class="container">
        <div class="featured">
            <div class="section-header">
                <h2>Professional Experience</h2>
                <hr>
            </div>

            <div class="projects-container">
                <div class="featured-proj border cv">
                    <div class="creative-assembly">
                        <h3>Creative Assembly</h3>
                        <div class="role-details">
                            <div class="title">
                                <span>Associate User Researcher</span>
                            </div>
                            <div class="year">
                                <small>
                                    May. 2022 – Present
                                </small>
                            </div>
                            <ul class="role">
                                <li>Help plan and execute a range of UX Research tests to support the design,
                                    development, and improvement of CA & SEGA products alongside other User Researchers
                                </li>
                                <li>Analyze data from the tests, write up reports and summarize issues for developers
                                    and other stakeholders.</li>
                                <li>Contribute towards best practices and help to define the long-term User Research
                                    road-map for the department.</li>

                            </ul>
                        </div>
                    </div>
                    <div class="building-impact">
                        <h3>Building Impact</h3>
                        <div class="role-details">
                            <div class="title">
                                <span>Director of Marketing and Program Management</span>
                            </div>
                            <div class="year">
                                <small>
                                    Aug 2021 - Jan 2022
                                </small>
                            </div>
                            <ul class="role">
                                <li>Lead marketing, product management, and programme communication plans at a nonprofit
                                    organization that organizes holistic volunteer initiatives for corporate clients. In
                                    the last 2 years, the organization has generated over $4.1 million from corporate
                                    clients in total contributions to the community.</li>
                                <li>Identify and address customer pain points from marketing, product, and programme
                                    data analysis. This user-centred approach has led to a 4.9/5 rating from over 25,000
                                    volunteers across all of our projects.</li>
                                <li>Collaborate closely with the CEO and Business Development (BD) team to drive the
                                    2021-2022 website rebuild. I clarified the organization's messaging and added 8 new
                                    customized user-flow entry points to streamline the BD team’s introductory client
                                    calls.</li>

                            </ul>
                        </div>
                        <div class="role-details">
                            <div class="title">
                                <span>Manager of Content Marketing and Programmes</span>
                            </div>
                            <div class="year">
                                <small>
                                    Aug. 2020 – May 2021
                                </small>
                            </div>
                            <ul class="role">
                                <li>Spearheaded the design and coordination of all digital content for 4 online
                                    channels. The increased engagement from our online presence translated into a 57%
                                    increase in the number of volunteers participating in our programmes.</li>
                                <li>Implemented and monitored user feedback survey questions in the online volunteer
                                    platform. This add-on resulted in over 8,000 quantitative and qualitative responses
                                    which provided insights to help improve volunteer satisfaction.</li>
                                <li>Guided groups of 5-75 corporate employees through online volunteer projects using
                                    storytelling based on data and human connection.</li>

                            </ul>
                        </div>
                        <div class="role-details">
                            <div class="title">
                                <span>Coordinator of Nonprofit Programmes</span>
                            </div>
                            <div class="year">
                                <small>
                                    Jun. 2019 – Aug. 2020
                                </small>
                            </div>
                            <ul class="role">
                                <li>Cultivated and maintained relationships with 45+ national and local nonprofits. As a
                                    result of this close collaboration with community leaders, the organization has
                                    partnered with over 160 organizations spanning 57 cities since the start of
                                    COVID-19.</li>
                                <li>Utilized strong organizational and administrative skills to optimize volunteer
                                    programme preparation leading to a monthly average of 5 different large-scale
                                    volunteering programmes in partnership with 25-30 corporate groups.</li>
                                <li>Worked cross-functionally to pilot & launch a virtual volunteering platform. Within
                                    seven months of the launch, the organization generated over $670,000 in donated
                                    goods for nonprofit partners as they struggled through the onset of the pandemic.
                                </li>

                            </ul>
                        </div>

                    </div>
                </div>
                <button class="btn-secondary">Download My CV</button>
            </div>

        </div>
    </div>

    <div class="background-trans">
        <div class="container">
            <div class="featured">
                <div class="section-header">
                    <h2>Featured Blog Posts</h2>
                    <hr>
                </div>
                <div class="projects-container">
                    <div class="featured-proj 1">

                        <div class="img-container">
                            <img src="images/Project-1.jpeg" alt="Project Title">
                        </div>
                        <div class="project-description">
                            <h3>Blog Title Medium</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                                ea commodo consequat. (don't forget to add char limit).....</p>
                            <small class="tags">Topic 1, Topic 2</small>
                            <br>
                        </div>
                        <button class="btn-secondary">Read Full Post</button>
                    </div>

                    <div class="featured-proj 2">

                        <div class="img-container">
                            <img src="images/Project-2.jpeg" alt="Project Title">
                        </div>
                        <div class="project-description">
                            <h3>Blog Title Medium Long (add char limit)</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                                ea commodo consequat. (don't forget to add char limit)....</p>
                            <small class="tags">Topic 1, Topic 2</small>
                        </div>

                        <button class="btn-secondary">Read Full Blog</button>
                    </div>
                </div>
                <button class="btn-tertiary">See All Blog Posts</button>
            </div>
        </div>
    </div>

    <%- include('partials/footer'); -%>